@import "reset";
@import "fonts";
@import "extends";

$back_1: #e9e8e4;
$back_2: #ffffff;
$back_3: #e5e5e5;
$back_4: #a6a6a6;
$back_5: #e0e0e0;
$back_6: #ebf4fa;
$back_7: #b1b1b1;

$font_1: #727272;
$font_2: #303030;
$font_3: #97a4b1;
$font_4: #667a90;
$font_5: #000000;

$acent: #4d75a3;
$acent_2: #41638a;
$acent_3: #a6bad1;
$acent_4: #ff6161;
$acent_5: #3f4f5f;
$acent_6: #667a90;
$acent_7: #7595b9;
$acent_8: #00d905;
$acent_9: #bac2cb;
$acent_10: #8f9dae;
$acent_11: #bcccdc;
$acent_12: #f2f4f6;


body {
    font-family: "OpenSans", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    background: $back_1;
    color: $font_1;

    padding-top: 120px;
    padding-bottom: 120px;
}

h2 {
    font-size: 24px;
    font-weight: 300;
    color: $font_5;
}

.wrapper {
    margin: 0 auto;
    min-width: 360px;
    max-width: 1150px;
    width: 100%;
}

.header {
    @extend %shadow;
    @extend %block_radius;

    width: 100%;

    .header_top {
        background: $acent;
        display: flex;
        align-items: stretch;
        lex-direction: row;

        a {
            @extend %animation;

            display: flex;
            align-items: center;
            text-decoration: none;
            padding-left: 25px;
            padding-right: 25px;
            border-right: 1px solid $acent_2;

            &:hover {
                background: $acent - 5;

                .notice {
                    border: 1px solid $acent - 5;
                }
            }
        }

        .header_logo {
            padding-right: 50px !important;

            svg {
                width: 100px;
                height: 14px;

                path {
                    fill: $back_2;
                    
                }
            }
        }

        .header_bell,
        .header_friends,
        .header_message,
        .header_search,
        .header_exit {

            position: relative;

            svg {
                width: 20px;
                height: 20px;

                path {
                    fill: $acent_3;
                }
            }

            .notice {
                @extend %animation;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(0, -15px);
                min-width: 14px;
                border-radius: 2px;
                font-size: 9px;
                line-height: 9px;
                text-align: center;
                border-radius: 2px;
                border: 1px solid $acent;
                color: $back_2;
                background: $acent_4;
                padding: 2px 3px;
            }

            &.active {
                svg path {
                    fill: $back_2;
                }
            }
        }
    }

    .header_profile {
        display: flex;
        align-items: stretch;
        justify-content: flex-end;
        width: 100%;
        border-right: 1px solid $acent_2;
        color: $back_2;

        .header_button {
            display: flex;
            align-items: center;
            padding-left: 25px;
            padding-right: 25px;
            cursor: pointer;

            &:hover {
                background: $acent - 5;
            }
        }

        .header_avatar {
            width: 25px;
            height: 25px;
            margin-left: 20px;
            margin-right: 10px;

            path {
                fill: $back_2;
            }
        }

        .header_dropdownmenu {
            width: 7px;

            polygon {
                fill: $back_2;
            }
        }
    }

        

    .header_menu {
        background: $back_2;
        display: flex;
        align-items: stretch;
        justify-content: center;
        lex-direction: row;
        

        a {
            @extend %animation;

            display: flex;
            align-items: center;
            position: relative;
            text-decoration: none;
            color: $font_3;
            font-size: 18px;
            margin-right: 50px;

            &:hover {
                color: $font_3 - 20;
            }

            &:last-child {
                margin-right: 0;
            }

            &.active {
                font-weight: 600;
                color: $font_4;

                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 100%;
                    height: 5px;
                    background: $acent;
                }
            }
        }
    }

    .header_top,
    .header_menu {
        width: 100%;
        height: 75px;
    }
}

.button {
    @extend %block_radius;
    @extend %animation;

    display: block;
    width: 180px;
    margin-bottom: 10px;
    padding: 14px 0;
    border: 2px solid $acent;

    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: $back_2;
    background: $acent;

    &:last-child {
        margin-bottom: 0;
    }

    &.lite {
        color: $acent;
        background: $back_2;
    }

    &:hover {
        background: $acent - 10;
    }

    &.lite:hover {
        background: $back_2 - 5;
    }

}

.profile {
    @extend %shadow;
    @extend %block_radius;

    margin: 50px 0;
    padding: 45px 50px;
    background: $back_2;

    display: flex;
    lex-direction: row;
    align-items: center;
    justify-content: space-between;

    .profile_avatar {
        margin-right: 20px;

        img {
            display: block;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            overflow: hidden;
        }
    }

    .profile_title {
        display: flex;
        align-items: center;
        height: 100px;
        border-right: 1px solid $back_3;
        padding-right: 30px;

       .name {
            position: relative;
            display: inline-block;
            font-size: 24px;
            color: $acent_5;
            margin-bottom: 14px;
        }

        .verification {
            position: absolute;
            top: 3px;
            right: -23px;
            width: 15px;
            height: 15px;


            svg {
                display: block;
                width: 15px;
                height: 15px;

                path {
                    fill: $acent_3;
                }
            }
        }

        .description {
            line-height: 24px;
            color: $acent_6;
        }
    }

    .profile_status {
        display: flex;
        lex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-left: 35px;

        .item {
            margin-right: 50px;

            .title {
                margin-bottom: 10px;
                font-size: 24px;
                font-weight: 600;
                color: $acent;
            }
            .description {
                color: $acent_6;
            }
        }
    }

    .profile_button {
        margin-left: 5px;
    }
}

.container {
    display: flex;
    justify-content: space-between;

    .activity_feed,
    .suggestions,
    .chat {
        @extend %shadow;
        @extend %block_radius;

        background: $back_2;
    }

    .activity_feed,
    .suggestions {
        position: relative;
        padding-bottom: 60px;

        h2 {
            margin: 30px 25px 40px 25px;
        }

        .show_more {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            @extend %animation;

            display: flex;
            justify-content: center;
            padding: 20px 0px;
            text-decoration: none;
            text-transform: uppercase;
            color: $acent_7;
            background: $back_6;

            &:hover {
                background: $back_6 - 10;
            }

            .title {
                position: relative;

                svg {
                    position: absolute;
                    top: 6px;
                    right: -20px;
                    width: 7px;

                    polygon {
                        fill: $acent_7;
                    }
                }
            }
        }
    }

    .activity_feed {
        width: 32.6%;

        .settings {
            
            position: absolute;
            top: 30px;
            right: 20px;
            cursor: pointer;

            svg {
                width: 15px;
                height: 15px;

                path {
                    @extend %animation;
                    fill: $back_4;
                }
            }

            &:hover {
                svg path {
                    fill: $back_4 - 10;
                }
            }
        }

        .content {
            padding: 0 25px;

            .item {
                position: relative;
                padding-left: 40px;
                /*padding-bottom: 5px;*/
                margin-bottom: 15px;

                a {
                    color: $acent;
                    text-decoration: none;
                }

                .icons {
                    position: absolute;
                    top: 0;
                    left: 0;

                    svg {
                        width: 20px;
                        height: 20px;

                        path {
                            fill: $back_4;
                        }
                    }
                }

                .line {
                    position: absolute;
                    top: 30px;
                    left: 10px;
                    bottom: 0;
                    width: 1px;
                    background: $back_5; 
                }

                .title {
                    margin-bottom: 4px;
                }

                .description {
                    .image {
                        margin-top: 10px;
                        
                        a {
                            @extend %block_radius;
                            display: inline-block;
                            margin-right: 4px;

                            &:last-child {
                                margin-right: 0;
                            }

                            img {
                                display: block;
                                width: 50px;
                                height: 50px;
                            }
                        }
                    }

                    .link {
                        position: relative;
                        min-height: 50px;
                        margin-top: 10px;
                        padding-left: 80px;
                        border-left: 2px solid $acent;

                        .image_link {
                            @extend %block_radius;
                            display: block;
                            position: absolute;
                            top: 0;
                            left: 15px;

                            img {
                                display: block;
                                width: 50px;
                                height: 50px;
                            }
                        }
                    }
                }
            }
        }
    }

    .suggestions {
        width: 28.2%;

        .content {
            width: 100%;
            padding-left: 20px;
            padding-right: 25px;

            .item {
                margin-bottom: 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .user_logo {
                    position: relative;
                    margin-right: 20px;

                    a {
                        display: block;
                        border-radius: 50%;
                        overflow: hidden;

                        img {
                            display: block;
                            width: 50px;
                            height: 50px;
                        }
                    }

                    .online {
                        position: absolute;
                        bottom: 1px;
                        right: 1px;
                        width: 14px;
                        height: 14px;
                        border-radius: 50%;
                        border: 3px solid $back_2;
                        background: $acent_8;
                    }
                }

                .user_name {
                    width: 100%;

                    p {
                        color: $font_3;

                        &.name {
                            position: relative;
                            margin-bottom: 3px;
                            display: inline-block;

                            a {
                                font-size: 16px;
                                font-weight: 600;
                                color: $acent_5;
                                text-decoration: none;
                            }

                            .mobile {
                                position: absolute;
                                top: 5px;
                                right: -15px;
                                width: 10px;
                                height: 10px; 

                                path {
                                    fill: $font_3;
                                }
                            }
                        }
                    }
                }

                .user_add {
                    .add {
                        @extend %block_radius;
                        @extend %animation;

                        display: block;
                        width: 50px;
                        padding: 5px 0;
                        text-align: center;
                        text-decoration: none;
                        border: 1px solid $font_3;
                        color: $font_3;
                        font-size: 12px;
                        background: $back_2;

                        &:hover {
                            background: $back_2 - 5;
                        }
                    }
                }
            }
        }
    }

    .chat {
        position: relative;
        width: 30.4%;

        .chat_window {
            position: absolute;
            top: 50px;
            bottom: 50px;
            left: 0;
            right: 0;
            width: 100%;

            .item {
                position: relative;
                padding: 13px 23px;
                margin-bottom: 45px;
                border-radius: 13px;

                &.left .date,
                &.right .date {
                    position: absolute;
                    color: $back_7;
                    font-size: 9px;
                }

                &.left .date {
                    left: 0;
                }

                &.right .date {
                    right: 0;
                }

                .date {
                    position: absolute;
                    color: $back_7;
                    bottom: -23px;
                    font-size: 9px;
                }

                &.left {
                    display: inline-block;
                    margin-left: 30px;
                    margin-right: 60px;
                    padding-top: 7px;
                    padding-bottom: 7px;
                    background: $acent_12;
                    color: $font_4;

                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        bottom: 0;
                        left: -15px;
                        width: 0;
                        height: 0;
                        border-bottom: 30px solid $acent_12;
                        border-left: 30px solid transparent;
                    }
                }

                &.right {
                    display: inline-block;
                    margin-left: 60px;
                    margin-right: 30px;
                    background: $back_6;
                    color: $font_4;

                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        bottom: 0;
                        right: -15px;
                        width: 0;
                        height: 0;
                        border-bottom: 30px solid $back_6;
                        border-right: 30px solid transparent;
                    }
                }

                .error {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    position: absolute;
                    top: -8px;
                    left: -3px;
                    width: 15px;
                    height: 15px;
                    background: $acent_4;
                    border-radius: 50%;

                    svg {
                        width: 80%;
                        height: 80%;

                        path {
                            fill: $back_2;
                        }
                    }
                }
            }

            .sparator_date {
                position: relative;
                margin-bottom: 20px;
                display: flex;
                justify-content: center;
                font-size: 12px;
                color: $back_7;
                background: $back_2;

                &:before,
                &:after {
                    position: absolute;
                    top: 9px;
                    content: '';
                    display: block;
                    width: 70px;
                    height: 1px;
                    background: $back_3;
                }

                &:before {
                    left: 30px;
                }

                 &:after {
                    right: 30px;
                 }
            }
        }

        .chat_header {
            display: flex;
            align-items: center;

            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 50px;
            padding: 0 25px;
            background: $acent;

            .avatar {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                overflow: hidden;
                margin-right: 10px;

                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }

            .name {
                position: relative;
                color: $back_2;
                font-size: 16px;

                .online {
                    position: absolute;
                    top: 7px;
                    right: -15px;
                    width: 7px;
                    height: 7px;
                    border-radius: 50%;
                    background: $back_2;
                }
            }

            .settings,
            .resize,
            .exit {
                display: flex;
                flex-direction: flex-end;
                flex-content: flex-end;
                width: 10px;
                width: 10px;
                cursor: pointer;

                svg {

                    width: 100%;
                    height: 100%;

                    path {
                        @extend %animation;
                        fill: $acent_11;
                    }
                }

                &:hover svg path {
                    fill: $acent_11 - 10;
                }
            }

            .settings,
            .resize {
                margin-right: 13px;
            }

            .settings {
                margin-left: auto;
            }
        }

        .form {
            position: absolute;
            width: 100%;
            height: 50px;
            bottom: 0;
            left: 0;
            right: 0;
            

            textarea {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                padding: 13px 45px; 
                border: none;
                border-top: 1px solid $back_3;
                resize: none;
                font-size: 18px;
                color: $acent_10;
                /*overflow: hidden;*/
            }
            .attached_file,
            .smile {
                @extend %animation;
                position: absolute;
                top: 15px;
                width: 20px;
                height: 20px;
                cursor: pointer;

                svg path {
                    fill: $acent_3;
                }

                &:hover svg path {
                    fill: $acent_3 - 10;
                }
            }

            .smile {
                left: 13px;
            }

            .attached_file {
                right: 13px;
            }
        }
    }
}