@import "reset";
@import "fonts";
@import "extends";

$back_1: #e9e8e4;
$back_2: #ffffff;
$back_3: #e5e5e5;
$back_4: #a6a6a6;
$back_5: #e0e0e0;
$back_6: #ebf4fa;

$font_1: #727272;
$font_2: #303030;
$font_3: #97a4b1;
$font_4: #667a90;
$font_5: #000000;

$acent: #4d75a3;
$acent_2: #41638a;
$acent_3: #a6bad1;
$acent_4: #ff6161;
$acent_5: #3f4f5f;
$acent_6: #667a90;
$acent_7: #7595b9;


body {
    font-family: "OpenSans", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    background: $back_1;
    color: $font_1;

    padding-top: 120px;
    padding-bottom: 120px;
}

h2 {
    font-size: 24px;
    font-weight: 300;
    color: $font_5;
}

.wrapper {
    margin: 0 auto;
    min-width: 360px;
    max-width: 1150px;
    width: 100%;
}

.header {
    @extend %shadow;
    @extend %block_radius;

    width: 100%;

    .header_top {
        background: $acent;
        display: flex;
        align-items: stretch;
        lex-direction: row;

        a {
            @extend %animation;

            display: flex;
            align-items: center;
            text-decoration: none;
            padding-left: 25px;
            padding-right: 25px;
            border-right: 1px solid $acent_2;

            &:hover {
                background: $acent - 5;
            }

            &.active:hover:before {
                border: 1px solid $acent - 5;
            }
        }

        .header_logo {
            padding-right: 50px !important;

            svg {
                width: 100px;
                height: 14px;

                path {
                    fill: $back_2;
                    
                }
            }
        }

        .header_bell,
        .header_friends,
        .header_message,
        .header_search,
        .header_exit {

            position: relative;

            svg {
                width: 20px;
                height: 20px;

                path {
                    fill: $acent_3;
                }
            }

            &.active {
                svg path {
                    fill: $back_2;
                }
            }

            &.active:before {
                @extend %animation;

                content: '1';
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                min-width: 14px;
                border-radius: 2px;
                transform: translate(0px, -15px);
                color: $back_2;
                background: $acent_4;
                padding: 2px 3px;
                font-size: 9px;
                line-height: 9px;
                text-align: center;
                border: 1px solid $acent;

            }
        }
    }

    .header_profile {
        display: flex;
        align-items: stretch;
        justify-content: flex-end;
        width: 100%;
        border-right: 1px solid $acent_2;
        color: $back_2;

        .header_button {
            display: flex;
            align-items: center;
            padding-left: 25px;
            padding-right: 25px;
            cursor: pointer;

            &:hover {
                background: $acent - 5;
            }
        }

        .header_avatar {
            width: 25px;
            height: 25px;
            margin-left: 20px;
            margin-right: 10px;

            path {
                fill: $back_2;
            }
        }

        .header_dropdownmenu {
            width: 7px;

            polygon {
                fill: $back_2;
            }
        }
    }

        

    .header_menu {
        background: $back_2;
        display: flex;
        align-items: stretch;
        justify-content: center;
        lex-direction: row;
        

        a {
            @extend %animation;

            display: flex;
            align-items: center;
            position: relative;
            text-decoration: none;
            color: $font_3;
            font-size: 18px;
            margin-right: 50px;

            &:hover {
                color: $font_3 - 20;
            }

            &:last-child {
                margin-right: 0;
            }

            &.active {
                font-weight: 600;
                color: $font_4;

                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 100%;
                    height: 5px;
                    background: $acent;
                }
            }
        }
    }

    .header_top,
    .header_menu {
        width: 100%;
        height: 75px;
    }
}

.button {
    @extend %block_radius;
    @extend %animation;

    display: block;
    width: 180px;
    margin-bottom: 10px;
    padding: 14px 0;
    border: 2px solid $acent;

    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: $back_2;
    background: $acent;

    &:last-child {
        margin-bottom: 0;
    }

    &.lite {
        color: $acent;
        background: $back_2;
    }

    &:hover {
        background: $acent - 10;
    }

    &.lite:hover {
        background: $back_2 - 5;
    }

}

.profile {
    @extend %shadow;
    @extend %block_radius;

    margin: 50px 0;
    padding: 45px 50px;
    background: $back_2;

    display: flex;
    lex-direction: row;
    align-items: center;
    justify-content: space-between;

    .profile_avatar {
        margin-right: 20px;

        img {
            display: block;
            border-radius: 50%;
            overflow: hidden;
        }
    }

    .profile_title {
        display: flex;
        align-items: center;
        height: 100px;
        border-right: 1px solid $back_3;
        padding-right: 30px;

       .name {
            position: relative;
            display: inline-block;
            font-size: 24px;
            color: $acent_5;
            margin-bottom: 14px;
        }

        .verification {
            position: absolute;
            top: 3px;
            right: -23px;
            width: 15px;
            height: 15px;


            svg {
                display: block;
                width: 15px;
                height: 15px;

                path {
                    fill: $acent_3;
                }
            }
        }

        .description {
            line-height: 24px;
            color: $acent_6;
        }
    }

    .profile_status {
        display: flex;
        lex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-left: 35px;

        .item {
            margin-right: 50px;

            .title {
                margin-bottom: 10px;
                font-size: 24px;
                font-weight: 600;
                color: $acent;
            }
            .description {
                color: $acent_6;
            }
        }
    }

    .profile_button {
        margin-left: 5px;
    }
}

.container {
    display: flex;
    justify-content: space-between;

    .activity_feed,
    .suggestions,
    .chat {
        @extend %shadow;
        @extend %block_radius;

        background: $back_2;
    }

    .activity_feed,
    .suggestions {
        position: relative;
        padding-bottom: 75px;

        h2 {
            margin: 30px 25px 40px 25px;
        }

        .show_more {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            @extend %animation;

            display: flex;
            justify-content: center;
            padding: 20px 0px;
            text-decoration: none;
            text-transform: uppercase;
            color: $acent_7;
            background: $back_6;

            &:hover {
                background: $back_6 - 10;
            }

            .title {
                position: relative;

                svg {
                    position: absolute;
                    top: 6px;
                    right: -20px;
                    width: 7px;

                    polygon {
                        fill: $acent_7;
                    }
                }
            }
        }
    }

    .activity_feed {
        width: 32.6%;

        .settings {
            @extend %animation;
            position: absolute;
            top: 30px;
            right: 20px;
            cursor: pointer;

            svg {
                width: 15px;
                height: 15px;

                path {
                    fill: $back_4;
                }
            }

            &:hover {
                svg path {
                    fill: $back_4 - 10;
                }
            }
        }

        .content {
            padding: 0 25px;

            .item {
                position: relative;
                padding-left: 40px;
                /*padding-bottom: 5px;*/
                margin-bottom: 15px;

                a {
                    color: $acent;
                    text-decoration: none;
                }

                .icons {
                    position: absolute;
                    top: 0;
                    left: 0;

                    svg {
                        width: 20px;
                        height: 20px;

                        path {
                            fill: $back_4;
                        }
                    }
                }

                .line {
                    position: absolute;
                    top: 30px;
                    left: 10px;
                    bottom: 0;
                    width: 1px;
                    background: $back_5; 
                }

                .title {
                    margin-bottom: 4px;
                }

                .description {
                    .image {
                        margin-top: 10px;
                        
                        a {
                            @extend %block_radius;
                            display: inline-block;
                            margin-right: 4px;

                            &:last-child {
                                margin-right: 0;
                            }

                            img {
                                display: block;
                            }
                        }
                    }

                    .link {
                        position: relative;
                        min-height: 50px;
                        margin-top: 10px;
                        padding-left: 80px;
                        border-left: 2px solid $acent;

                        .image_link {
                            @extend %block_radius;
                            display: block;
                            position: absolute;
                            top: 0;
                            left: 15px;

                            img {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }

    .suggestions {
        width: 28.2%;

        .content {
            width: 100%;
            padding-left: 20px;
            padding-right: 25px;
        }
    }

    .chat {
        width: 30.4%;
    }
}