html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

input, select, textarea, button {
  outline: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-ms-viewport {
  width: device-width;
}
@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/OpenSans-Light.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
}
.header, .profile, .container .activity_feed,
.container .suggestions,
.container .chat, .dialoges {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header, .button, .profile, .container .activity_feed,
.container .suggestions,
.container .chat, .container .activity_feed .content .item .description .image a, .container .activity_feed .content .item .description .link .image_link, .container .suggestions .content .item .user_add .add, .dialoges, .dialoges .messages .messages_form .form_input input {
  border-radius: 5px;
  overflow: hidden;
}

.header .header_top a, .header .header_top .header_bell .notice,
.header .header_top .header_friends .notice,
.header .header_top .header_message .notice,
.header .header_top .header_search .notice,
.header .header_top .header_exit .notice, .header .header_menu a, .button, .container .activity_feed .show_more,
.container .suggestions .show_more, .container .activity_feed .settings svg path, .container .suggestions .content .item .user_add .add, .container .chat .chat_header .settings svg path,
.container .chat .chat_header .resize svg path,
.container .chat .chat_header .exit svg path, .container .chat .form .attached_file,
.container .chat .form .smile, .dialoges .dialoges_list .dialoges_header .search svg path,
.dialoges .dialoges_list .dialoges_header .volume svg path,
.dialoges .dialoges_list .dialoges_header .notview svg path, .dialoges .messages .messages_header .add_friend svg path,
.dialoges .messages .messages_header .settings svg path,
.dialoges .messages .messages_header .exit svg path {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

body {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  background: #e9e8e4;
  color: #727272;
  padding-top: 120px;
  padding-bottom: 120px;
}

h2 {
  font-size: 24px;
  font-weight: 300;
  color: #000000;
}

.wrapper {
  margin: 0 auto;
  min-width: 360px;
  max-width: 1150px;
  width: 100%;
}

.header {
  width: 100%;
}
.header .header_top {
  background: #4d75a3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  lex-direction: row;
}
.header .header_top a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  padding-left: 25px;
  padding-right: 25px;
  border-right: 1px solid #41638a;
}
.header .header_top a:hover {
  background: #48709e;
}
.header .header_top a:hover .notice {
  border: 1px solid #48709e;
}
.header .header_top .header_logo {
  padding-right: 50px !important;
}
.header .header_top .header_logo svg {
  width: 100px;
  height: 14px;
}
.header .header_top .header_logo svg path {
  fill: #ffffff;
}
.header .header_top .header_bell,
.header .header_top .header_friends,
.header .header_top .header_message,
.header .header_top .header_search,
.header .header_top .header_exit {
  position: relative;
}
.header .header_top .header_bell svg,
.header .header_top .header_friends svg,
.header .header_top .header_message svg,
.header .header_top .header_search svg,
.header .header_top .header_exit svg {
  width: 20px;
  height: 20px;
}
.header .header_top .header_bell svg path,
.header .header_top .header_friends svg path,
.header .header_top .header_message svg path,
.header .header_top .header_search svg path,
.header .header_top .header_exit svg path {
  fill: #a6bad1;
}
.header .header_top .header_bell .notice,
.header .header_top .header_friends .notice,
.header .header_top .header_message .notice,
.header .header_top .header_search .notice,
.header .header_top .header_exit .notice {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(0, -15px);
          transform: translate(0, -15px);
  min-width: 14px;
  border-radius: 2px;
  font-size: 9px;
  line-height: 9px;
  text-align: center;
  border-radius: 2px;
  border: 1px solid #4d75a3;
  color: #ffffff;
  background: #ff6161;
  padding: 2px 3px;
}
.header .header_top .header_bell.active svg path,
.header .header_top .header_friends.active svg path,
.header .header_top .header_message.active svg path,
.header .header_top .header_search.active svg path,
.header .header_top .header_exit.active svg path {
  fill: #ffffff;
}
.header .header_profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  border-right: 1px solid #41638a;
  color: #ffffff;
}
.header .header_profile .header_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  cursor: pointer;
}
.header .header_profile .header_button:hover {
  background: #48709e;
}
.header .header_profile .header_avatar {
  width: 25px;
  height: 25px;
  margin-left: 20px;
  margin-right: 10px;
}
.header .header_profile .header_avatar path {
  fill: #ffffff;
}
.header .header_profile .header_dropdownmenu {
  width: 7px;
}
.header .header_profile .header_dropdownmenu polygon {
  fill: #ffffff;
}
.header .header_menu {
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  lex-direction: row;
}
.header .header_menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  text-decoration: none;
  color: #97a4b1;
  font-size: 18px;
  margin-right: 50px;
}
.header .header_menu a:hover {
  color: #83909d;
}
.header .header_menu a:last-child {
  margin-right: 0;
}
.header .header_menu a.active {
  font-weight: 600;
  color: #667a90;
}
.header .header_menu a.active:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 5px;
  background: #4d75a3;
}
.header .header_top,
.header .header_menu {
  width: 100%;
  height: 75px;
}

.button {
  display: block;
  width: 180px;
  margin-bottom: 10px;
  padding: 14px 0;
  border: 2px solid #4d75a3;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  background: #4d75a3;
}
.button:last-child {
  margin-bottom: 0;
}
.button.lite {
  color: #4d75a3;
  background: #ffffff;
}
.button:hover {
  background: #436b99;
}
.button.lite:hover {
  background: #fafafa;
}

.profile {
  margin: 50px 0;
  padding: 45px 50px;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  lex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.profile .profile_avatar {
  margin-right: 20px;
}
.profile .profile_avatar img {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}
.profile .profile_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  border-right: 1px solid #e5e5e5;
  padding-right: 30px;
}
.profile .profile_title .name {
  position: relative;
  display: inline-block;
  font-size: 24px;
  color: #3f4f5f;
  margin-bottom: 14px;
}
.profile .profile_title .verification {
  position: absolute;
  top: 3px;
  right: -23px;
  width: 15px;
  height: 15px;
}
.profile .profile_title .verification svg {
  display: block;
  width: 15px;
  height: 15px;
}
.profile .profile_title .verification svg path {
  fill: #a6bad1;
}
.profile .profile_title .description {
  line-height: 24px;
  color: #667a90;
}
.profile .profile_status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  lex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 35px;
}
.profile .profile_status .item {
  margin-right: 50px;
}
.profile .profile_status .item .title {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
  color: #4d75a3;
}
.profile .profile_status .item .description {
  color: #667a90;
}
.profile .profile_button {
  margin-left: 5px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}
.container .activity_feed,
.container .suggestions,
.container .chat {
  background: #ffffff;
}
.container .activity_feed,
.container .suggestions {
  position: relative;
  padding-bottom: 60px;
}
.container .activity_feed h2,
.container .suggestions h2 {
  margin: 30px 25px 40px 25px;
}
.container .activity_feed .show_more,
.container .suggestions .show_more {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0px;
  text-decoration: none;
  text-transform: uppercase;
  color: #7595b9;
  background: #ebf4fa;
}
.container .activity_feed .show_more:hover,
.container .suggestions .show_more:hover {
  background: #e1eaf0;
}
.container .activity_feed .show_more .title,
.container .suggestions .show_more .title {
  position: relative;
}
.container .activity_feed .show_more .title svg,
.container .suggestions .show_more .title svg {
  position: absolute;
  top: 6px;
  right: -20px;
  width: 7px;
}
.container .activity_feed .show_more .title svg polygon,
.container .suggestions .show_more .title svg polygon {
  fill: #7595b9;
}
.container .activity_feed {
  width: 32.6%;
}
.container .activity_feed .settings {
  position: absolute;
  top: 30px;
  right: 20px;
  cursor: pointer;
}
.container .activity_feed .settings svg {
  width: 15px;
  height: 15px;
}
.container .activity_feed .settings svg path {
  fill: #a6a6a6;
}
.container .activity_feed .settings:hover svg path {
  fill: #9c9c9c;
}
.container .activity_feed .content {
  padding: 0 25px;
}
.container .activity_feed .content .item {
  position: relative;
  padding-left: 40px;
  /*padding-bottom: 5px;*/
  margin-bottom: 15px;
}
.container .activity_feed .content .item a {
  color: #4d75a3;
  text-decoration: none;
}
.container .activity_feed .content .item .icons {
  position: absolute;
  top: 0;
  left: 0;
}
.container .activity_feed .content .item .icons svg {
  width: 20px;
  height: 20px;
}
.container .activity_feed .content .item .icons svg path {
  fill: #a6a6a6;
}
.container .activity_feed .content .item .line {
  position: absolute;
  top: 30px;
  left: 10px;
  bottom: 0;
  width: 1px;
  background: #e0e0e0;
}
.container .activity_feed .content .item .title {
  margin-bottom: 4px;
}
.container .activity_feed .content .item .description .image {
  margin-top: 10px;
}
.container .activity_feed .content .item .description .image a {
  display: inline-block;
  margin-right: 4px;
}
.container .activity_feed .content .item .description .image a:last-child {
  margin-right: 0;
}
.container .activity_feed .content .item .description .image a img {
  display: block;
  width: 50px;
  height: 50px;
}
.container .activity_feed .content .item .description .link {
  position: relative;
  min-height: 50px;
  margin-top: 10px;
  padding-left: 80px;
  border-left: 2px solid #4d75a3;
}
.container .activity_feed .content .item .description .link .image_link {
  display: block;
  position: absolute;
  top: 0;
  left: 15px;
}
.container .activity_feed .content .item .description .link .image_link img {
  display: block;
  width: 50px;
  height: 50px;
}
.container .suggestions {
  width: 28.2%;
}
.container .suggestions .content {
  width: 100%;
  padding-left: 20px;
  padding-right: 25px;
}
.container .suggestions .content .item {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container .suggestions .content .item .user_logo {
  position: relative;
  margin-right: 20px;
}
.container .suggestions .content .item .user_logo a {
  display: block;
  border-radius: 50%;
  overflow: hidden;
}
.container .suggestions .content .item .user_logo a img {
  display: block;
  width: 50px;
  height: 50px;
}
.container .suggestions .content .item .user_logo .online {
  position: absolute;
  bottom: 1px;
  right: 1px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 3px solid #ffffff;
  background: #00d905;
}
.container .suggestions .content .item .user_name {
  width: 100%;
}
.container .suggestions .content .item .user_name p {
  color: #97a4b1;
}
.container .suggestions .content .item .user_name p.name {
  position: relative;
  margin-bottom: 3px;
  display: inline-block;
}
.container .suggestions .content .item .user_name p.name a {
  font-size: 16px;
  font-weight: 600;
  color: #3f4f5f;
  text-decoration: none;
}
.container .suggestions .content .item .user_name p.name .mobile {
  position: absolute;
  top: 5px;
  right: -15px;
  width: 10px;
  height: 10px;
}
.container .suggestions .content .item .user_name p.name .mobile path {
  fill: #97a4b1;
}
.container .suggestions .content .item .user_add .add {
  display: block;
  width: 50px;
  padding: 5px 0;
  text-align: center;
  text-decoration: none;
  border: 1px solid #97a4b1;
  color: #97a4b1;
  font-size: 12px;
  background: #ffffff;
}
.container .suggestions .content .item .user_add .add:hover {
  background: #fafafa;
}
.container .chat {
  position: relative;
  width: 30.4%;
}
.container .chat .chat_window {
  position: absolute;
  top: 50px;
  bottom: 50px;
  left: 0;
  right: 0;
  width: 100%;
}
.container .chat .chat_window .item {
  position: relative;
  padding: 13px 23px;
  margin-bottom: 45px;
  border-radius: 13px;
}
.container .chat .chat_window .item.left .date, .container .chat .chat_window .item.right .date {
  position: absolute;
  color: #b1b1b1;
  font-size: 9px;
}
.container .chat .chat_window .item.left .date {
  left: 0;
}
.container .chat .chat_window .item.right .date {
  right: 0;
}
.container .chat .chat_window .item .date {
  position: absolute;
  color: #b1b1b1;
  bottom: -23px;
  font-size: 9px;
}
.container .chat .chat_window .item.left {
  display: inline-block;
  margin-left: 30px;
  margin-right: 60px;
  padding-top: 7px;
  padding-bottom: 7px;
  background: #f2f4f6;
  color: #667a90;
}
.container .chat .chat_window .item.left:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: -15px;
  width: 0;
  height: 0;
  border-bottom: 30px solid #f2f4f6;
  border-left: 30px solid transparent;
}
.container .chat .chat_window .item.right {
  display: inline-block;
  margin-left: 60px;
  margin-right: 30px;
  background: #ebf4fa;
  color: #667a90;
}
.container .chat .chat_window .item.right:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  right: -15px;
  width: 0;
  height: 0;
  border-bottom: 30px solid #ebf4fa;
  border-right: 30px solid transparent;
}
.container .chat .chat_window .item .error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -8px;
  left: -3px;
  width: 15px;
  height: 15px;
  background: #ff6161;
  border-radius: 50%;
}
.container .chat .chat_window .item .error svg {
  width: 80%;
  height: 80%;
}
.container .chat .chat_window .item .error svg path {
  fill: #ffffff;
}
.container .chat .chat_window .sparator_date {
  position: relative;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  color: #b1b1b1;
  background: #ffffff;
}
.container .chat .chat_window .sparator_date:before, .container .chat .chat_window .sparator_date:after {
  position: absolute;
  top: 9px;
  content: '';
  display: block;
  width: 70px;
  height: 1px;
  background: #e5e5e5;
}
.container .chat .chat_window .sparator_date:before {
  left: 30px;
}
.container .chat .chat_window .sparator_date:after {
  right: 30px;
}
.container .chat .chat_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  padding: 0 25px;
  background: #4d75a3;
}
.container .chat .chat_header .avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
.container .chat .chat_header .avatar img {
  display: block;
  width: 100%;
  height: 100%;
}
.container .chat .chat_header .name {
  position: relative;
  color: #ffffff;
  font-size: 16px;
}
.container .chat .chat_header .name .online {
  position: absolute;
  top: 7px;
  right: -15px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #ffffff;
}
.container .chat .chat_header .settings,
.container .chat .chat_header .resize,
.container .chat .chat_header .exit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: flex-end;
          flex-direction: flex-end;
  flex-content: flex-end;
  width: 10px;
  width: 10px;
  cursor: pointer;
}
.container .chat .chat_header .settings svg,
.container .chat .chat_header .resize svg,
.container .chat .chat_header .exit svg {
  width: 100%;
  height: 100%;
}
.container .chat .chat_header .settings svg path,
.container .chat .chat_header .resize svg path,
.container .chat .chat_header .exit svg path {
  fill: #bcccdc;
}
.container .chat .chat_header .settings:hover svg path,
.container .chat .chat_header .resize:hover svg path,
.container .chat .chat_header .exit:hover svg path {
  fill: #b2c2d2;
}
.container .chat .chat_header .settings,
.container .chat .chat_header .resize {
  margin-right: 13px;
}
.container .chat .chat_header .settings {
  margin-left: auto;
}
.container .chat .form {
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0;
  left: 0;
  right: 0;
}
.container .chat .form textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 13px 45px;
  border: none;
  border-top: 1px solid #e5e5e5;
  resize: none;
  font-size: 18px;
  color: #8f9dae;
  /*overflow: hidden;*/
}
.container .chat .form .attached_file,
.container .chat .form .smile {
  position: absolute;
  top: 15px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.container .chat .form .attached_file svg path,
.container .chat .form .smile svg path {
  fill: #a6bad1;
}
.container .chat .form .attached_file:hover svg path,
.container .chat .form .smile:hover svg path {
  fill: #9cb0c7;
}
.container .chat .form .smile {
  left: 13px;
}
.container .chat .form .attached_file {
  right: 13px;
}

.dialoges {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #ffffff;
  width: 100%;
  height: 750px;
}
.dialoges .dialoges_list {
  position: relative;
  min-width: 340px;
  width: 30%;
  border-right: 1px solid #e5e5e5;
}
.dialoges .dialoges_list .dialoges_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100px;
  padding: 0 25px;
  border-bottom: 1px solid #e5e5e5;
}
.dialoges .dialoges_list .dialoges_header .title {
  font-size: 16px;
  font-weight: 600;
  color: #667a90;
}
.dialoges .dialoges_list .dialoges_header .search {
  margin-left: auto;
}
.dialoges .dialoges_list .dialoges_header .search,
.dialoges .dialoges_list .dialoges_header .volume {
  margin-right: 17px;
}
.dialoges .dialoges_list .dialoges_header .search,
.dialoges .dialoges_list .dialoges_header .volume,
.dialoges .dialoges_list .dialoges_header .notview {
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.dialoges .dialoges_list .dialoges_header .search svg,
.dialoges .dialoges_list .dialoges_header .volume svg,
.dialoges .dialoges_list .dialoges_header .notview svg {
  width: 100%;
  height: 100%;
}
.dialoges .dialoges_list .dialoges_header .search svg path,
.dialoges .dialoges_list .dialoges_header .volume svg path,
.dialoges .dialoges_list .dialoges_header .notview svg path {
  fill: #a6bad1;
}
.dialoges .dialoges_list .dialoges_header .search:hover svg path,
.dialoges .dialoges_list .dialoges_header .volume:hover svg path,
.dialoges .dialoges_list .dialoges_header .notview:hover svg path {
  fill: #9cb0c7;
}
.dialoges .dialoges_list .dialoges_users {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}
.dialoges .dialoges_list .dialoges_users .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  border-bottom: 1px solid #e5e5e5;
  padding: 23px;
  /*&:last-child {
      border-bottom: none;
  }*/
}
.dialoges .dialoges_list .dialoges_users .item.active {
  background: #ebf4fa;
}
.dialoges .dialoges_list .dialoges_users .item .avatar {
  position: relative;
  margin-right: 13px;
}
.dialoges .dialoges_list .dialoges_users .item .avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.dialoges .dialoges_list .dialoges_users .item .avatar .online {
  position: absolute;
  top: -2px;
  right: -2px;
  width: 8px;
  height: 8px;
  background: #00d905;
  border-radius: 50%;
}
.dialoges .dialoges_list .dialoges_users .item .contant .name {
  font-size: 16px;
  font-weight: 600;
  color: #3f4f5f;
  margin-bottom: 5px;
}
.dialoges .dialoges_list .dialoges_users .item .contant .mes {
  color: #667a90;
}
.dialoges .dialoges_list .dialoges_users .item .contant .quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.dialoges .dialoges_list .dialoges_users .item .contant .quote .quote_img,
.dialoges .dialoges_list .dialoges_users .item .contant .quote .quote_mes {
  height: 20px;
  background: #f2f4f6;
}
.dialoges .dialoges_list .dialoges_users .item .contant .quote .quote_img {
  width: 20px;
}
.dialoges .dialoges_list .dialoges_users .item .contant .quote .quote_img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.dialoges .dialoges_list .dialoges_users .item .contant .quote .quote_mes {
  padding: 0 7px;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
}
.dialoges .dialoges_list .dialoges_users .item .info {
  margin-left: auto;
}
.dialoges .dialoges_list .dialoges_users .item .info .date {
  color: #b1b1b1;
  margin-bottom: 10px;
}
.dialoges .dialoges_list .dialoges_users .item .info .count_mes {
  display: inline-block;
  float: right;
  min-width: 23px;
  height: 23px;
  padding: 0 5px;
  background: #7595b9;
  color: #ffffff;
  font-size: 12px;
  font-weight: 900;
  line-height: 23px;
  text-align: center;
  border-radius: 2px;
}
.dialoges .messages {
  position: relative;
  width: 70%;
}
.dialoges .messages .messages_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100px;
  padding: 0 25px;
  border-bottom: 1px solid #e5e5e5;
  background: rgba(255, 255, 255, 0.9);
}
.dialoges .messages .messages_header .avatar {
  margin-right: 8px;
}
.dialoges .messages .messages_header .avatar img {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.dialoges .messages .messages_header .user {
  margin-right: auto;
}
.dialoges .messages .messages_header .user .name {
  margin-bottom: 3px;
  font-size: 16px;
  font-weight: 600;
  color: #3f4f5f;
}
.dialoges .messages .messages_header .user .status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #777777;
}
.dialoges .messages .messages_header .user .status .mobile {
  width: 10px;
  height: 10px;
  margin-right: 4px;
}
.dialoges .messages .messages_header .user .status .mobile svg {
  display: block;
  width: 100%;
  height: 100%;
}
.dialoges .messages .messages_header .user .status .mobile svg path {
  fill: #777777;
}
.dialoges .messages .messages_header .add_friend,
.dialoges .messages .messages_header .settings {
  margin-right: 15px;
}
.dialoges .messages .messages_header .add_friend,
.dialoges .messages .messages_header .settings,
.dialoges .messages .messages_header .exit {
  cursor: pointer;
  width: 15px;
  height: 15px;
}
.dialoges .messages .messages_header .add_friend svg,
.dialoges .messages .messages_header .settings svg,
.dialoges .messages .messages_header .exit svg {
  width: 100%;
  height: 100%;
}
.dialoges .messages .messages_header .add_friend svg path,
.dialoges .messages .messages_header .settings svg path,
.dialoges .messages .messages_header .exit svg path {
  fill: #a6bad1;
}
.dialoges .messages .messages_header .add_friend:hover svg path,
.dialoges .messages .messages_header .settings:hover svg path,
.dialoges .messages .messages_header .exit:hover svg path {
  fill: #9cb0c7;
}
.dialoges .messages .messages_header .exit svg {
  width: 80%;
  height: 80%;
}
.dialoges .messages .messages_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 25px 20px 20px 20px;
  background: #f2f4f6;
  border-top: 1px solid #e5e5e5;
}
.dialoges .messages .messages_form .form_input {
  width: 100%;
}
.dialoges .messages .messages_form .form_input input {
  display: block;
  width: 100%;
  height: 50px;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #e5e5e5;
  font-size: 16px;
  color: #727272;
}
.dialoges .messages .messages_form .form_input .input_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.dialoges .messages .messages_form .form_input .input_menu .smile {
  width: 18px;
  height: 18px;
  cursor: pointer;
  margin-right: 13px;
}
.dialoges .messages .messages_form .form_input .input_menu .smile svg {
  width: 100%;
  height: 100%;
}
.dialoges .messages .messages_form .form_input .input_menu .smile svg path {
  fill: #a6bad1;
}
.dialoges .messages .messages_form .form_input .input_menu .last_smile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-left: 1px solid #e5e5e5;
  padding-left: 13px;
}
.dialoges .messages .messages_form .form_input .input_menu .last_smile img {
  cursor: pointer;
  display: block;
  width: 18px;
  height: 18px;
  margin-right: 10px;
}
.dialoges .messages .messages_form .form_input .input_menu .attach {
  position: relative;
  margin-left: auto;
  color: #2b587a;
  cursor: pointer;
  padding-right: 15px;
}
.dialoges .messages .messages_form .form_input .input_menu .attach svg {
  position: absolute;
  top: 5px;
  right: 0;
  width: 8px;
}
.dialoges .messages .messages_form .form_input .input_menu .attach svg polygon {
  fill: #a6bad1;
}
.dialoges .messages .messages_form .form_send {
  margin-left: 15px;
}
.dialoges .messages .messages_form .form_send a.button {
  width: 120px;
}
.dialoges .messages .messages_user .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 15px 20px 35px 20px;
}
.dialoges .messages .messages_user .item.left .mes {
  background: #f2f4f6;
}
.dialoges .messages .messages_user .item.left .mes .date {
  left: 0;
}
.dialoges .messages .messages_user .item.left .mes:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: -15px;
  width: 0;
  height: 0;
  border-bottom: 30px solid #f2f4f6;
  border-left: 30px solid transparent;
}
.dialoges .messages .messages_user .item.left .avatar {
  margin-right: 15px;
}
.dialoges .messages .messages_user .item.right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.dialoges .messages .messages_user .item.right .mes {
  background: #ebf4fa;
}
.dialoges .messages .messages_user .item.right .mes .date {
  right: 0;
}
.dialoges .messages .messages_user .item.right .mes:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  right: -15px;
  width: 0;
  height: 0;
  border-bottom: 30px solid #ebf4fa;
  border-right: 30px solid transparent;
}
.dialoges .messages .messages_user .item.right .avatar {
  margin-left: 15px;
}
.dialoges .messages .messages_user .item .avatar img {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.dialoges .messages .messages_user .item .mes {
  position: relative;
  max-width: 70%;
  padding: 15px;
  border-radius: 10px;
  color: #667a90;
  line-height: 22px;
}
.dialoges .messages .messages_user .item .mes img {
  display: inline-block;
  width: 150px;
  height: 150px;
  margin-right: 8px;
  border-radius: 3px;
}
.dialoges .messages .messages_user .item .mes img:last-child {
  margin-right: 0;
}
.dialoges .messages .messages_user .item .mes .date {
  position: absolute;
  bottom: -23px;
  font-size: 12px;
  color: #b1b1b1;
}
